
body{
    text-align: center;
}

h3+h1+h2{
    position: relative;
    z-index: 1;
}

.btn{ 
    width: 150px;
    height: 150px;
    border: 2 solid transparent;
    margin: 3.5px;
}

.btn:hover{
    box-shadow: 2px 2px 10px black;
}

.box-button{
   display: flex;
   height: 500px;
   width: 500px;
   align-items: center;
   justify-content:center;
   position: relative;
   background-color: hsl(45, 85%, 42%);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   right: 130px;
   left: 500px;
   top:90px;
   z-index: 1;
}

@media(max-width: 524px){
   .box-button{
       height: 5rem;
       width:5rem;
       border-radius: 20%;
       border: 10px solid rgba(33, 33, 33, 0.564) ;
     } 
    .h3+h1+h2{
        position: relative;
        z-index: 1;
    }
    .btn{ 
        width: 100px;
        height: 100px;
        border: 2 solid transparent;
        margin: 2.5px;
    }
    .box-button{
        left: 180px;
    }
    
    
}


.pink{
    background-color:#d95980;
    border-radius:30% 0 0 0;
    
}

.green{
    background-color:#63aac0;
    border-radius:0 0 0 30%;
}

.orange{
    background-color:orange;
    border-radius:0 30% 0 0;
}

.blue{
    background-color:#4533e8;
    border-radius:0 0 30% 0;
}

.gameflash{
    background-color: aliceblue;
}

.userflash{
    background-color: green;
}



/*-------------------Game rule ---------------------*/

.rule{
    align-items: center;

}