
body{
    text-align: center;
    background-color: white;
}

h3+h1+h2{
    position: relative;
    z-index: 1;
}

.btn{ 
    width: 150px;
    height: 150px;
    border: 2 solid transparent;
    margin: 3.5px;
}

.btn:hover{
    box-shadow: 2px 2px 10px black;
}

.box-button{
   display: flex;
   height: 400px;
   width: 400px;
   align-items: center;
   justify-content: center;
   position: fixed;
   background-color: hsl(45, 85%, 42%);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* right: 100px; */
    left: 550px; 
    top:300px;
    z-index: 1;
}

.play,.rule,.back {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

.play{
    color:black;
    background-color: #39c639;
}

.rule {
   background-color: #179cf5;
   color:black;

}

.back {
    color:  white;
    margin-top: 3px;
    background-color: black;
}
@media only screen and (max-width: 767px){
   .box-button{
       position: fixed;
       height: 240px;
       width:  240px;
       border-radius: 20%;
       border: 10px solid rgba(33, 33, 33, 0.564) ;
       left: 40px;
     } 
    .h3+h1+h2{
        position: relative;
        z-index: 1;
    }
    .btn{ 
        width: 100px;
        height: 100px;
        border: 2 solid transparent;
    }
}

.pink{
    background-color:#d95980;
    border-radius:30% 0 0 0;
    
}

.green{
    background-color:#63aac0;
    border-radius:0 0 0 30%;
}

.orange{
    background-color:orange;
    border-radius:0 30% 0 0;
}

.blue{
    background-color:#4533e8;
    border-radius:0 0 30% 0;
}

.gameflash{
    background-color: aliceblue;
}

.userflash{
    background-color: green;
}



/*-------------------Game rule ---------------------*/

.rule{
    align-items: center;

}